:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(46, 44, 44, 0.87);
  background-color: #484544;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: auto;
  text-align: center;
}

main {
  min-height: calc(100vh - 110px);
}

.cards {
  display: inline-block;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  margin: 20px;
  background-color: rgb(221, 189, 211);
  padding: 0px;
  position: relative;
}

header, footer {
  width: 100%;
  background-color: #333;
  color: white;
  height: 55px;
}

header { 
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 20px;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

body {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
}

.img_pokemon {
  width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding: 10px 10px 0px 10px;
}

.box {
  width: 11rem;
  background-color: aliceblue;
  text-align: center;
  position: relative;
  text-align: center;
}

.material-symbols-outlined {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(97, 98, 99);
  padding: 10px;
  border-radius: 0 0 0 20px;
  color: aliceblue;
}

img {
  width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding: 0px;
}

img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* .box:hover .number {
  background-color: rgb(65, 115, 240);
} */

input {
  width: 250px;
  margin-bottom: 50px;
  padding: 6px;
  border: none;
  font-size: 17px;
  border-style: groove;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

h2 {
  background-color: rgb(97, 98, 99);
  color: aliceblue;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
  background-color: rgb(28, 49, 73);
  color: aliceblue;
  font-size: 13px;
}

button {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
}





/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
